.card {
    width: 18rem;
    height: 10rem !important;
    display: grid;

    grid-template-columns:50% 50% ;
    grid-template-rows:100%;
}


.cardBody{
    font-size:15px;
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 50% 50%;
}
.cardImg{
    grid-column-start: 2;
}
