.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px 40px 20px 50px ;
  
}
.card-title{
  grid-column-start: 3;

  grid-row-start: 2;
 
}
.card-min{
  grid-column-start: 2;
  grid-row-start: 3;
}
.card-max{
  grid-column-start: 4;
  grid-row-start: 3;
}
.img-card{
  grid-column-start: 5;
  grid-row-start: 3;
  
}
.card-img{
  width: 70px;
  height: 70px;
  
}